body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

p,a,li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.0em; /* 1em is 16 pixels */
}

p,pre {
    margin-left: 20px;
    margin-right: 20px;
}

h1,h2,h3,h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

h1 { font-size: 1.9em;}
h2 { font-size: 1.6em;}
h3 { font-size: 1.4em;}
h4 { font-size: 1.2em;}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #078;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}

#topButton:hover {
    background-color: #A00;
}
